.top-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0;
  width: 100%;
}

.top-section button.mat-icon-button {
  margin-right: 10px; /* Add margin to create spacing between the button and heading */
}

.top-section h2 {
  margin-bottom: 0;
  font-weight: 500;
  color: #b91b1b;
}
  
  .password-change-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    background-color: #ffe6e6; /* Light pastel pink */
    border: 1px solid #e72222; /* Light pastel pink */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#b91b1b;
  }
  
  .password-change-form-container form {
    margin-top: 20px;
    width: 100%;
  }
  
  .password-change-form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Add this line to include padding in the width */
  }
  
  .password-change-form-container-button {
    padding: 10px 20px;
    background-color: #ffcccc; /* Light pastel pink */
    color: #f51111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .password-change-form-container-button button:hover {
    background-color: #ffaaaa; /* Lighter pastel pink */
  }
  