<div class="password-change-form-container">
  <div class="top-section">
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" type="button" (click)="goHome()">
        <mat-icon>home</mat-icon>
    </button>
    <h2>Change Password</h2>
    </div>
  <form [formGroup]="changePasswordForm">
    Old Password: 
    <input type="{{ showOldPassword ? 'text' : 'password' }}" formControlName="oldPassword">
    <button (click)="toggleOldPasswordVisibility()" class="password-change-form-container-button">Show password</button><br><br>
    
    New Password: 
    <input type="{{ showNewPassword ? 'text' : 'password' }}" formControlName="newPassword" placeholder="Minimum 8 characters">
    <button (click)="toggleNewPasswordVisibility()" class="password-change-form-container-button">Show password</button><br><br>
    
    Confirm Password: 
    <input type="{{ showConfirmPassword ? 'text' : 'password' }}" formControlName="confirmPassword">
    <button (click)="toggleConfirmPasswordVisibility()" class="password-change-form-container-button">Show password</button>
    <span *ngIf="changePasswordForm.controls['confirmPassword'].dirty&&changePasswordForm.value['confirmPassword']!=changePasswordForm.value['newPassword']">Password doesnt match</span>
    <br><br>
    <button mat-raised-button color="primary" type="button" (click)="changePassword()">Change Password</button>
  </form>
</div>
