h1 {
    margin-top:10px;
    text-align: center;
    font-size:36px;
    font-weight: bolder;
    color: #f51111; /* Light pastel pink */
  }
  
  .login-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffe6e6; /* Light pastel pink */
    border: 1px solid #e72222; /* Light pastel pink */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-form-container h2 {
    text-align: center;
    color: #f72c2c; /* Darker pastel pink */
  }
  
  .login-form-container form {
    margin-top: 20px;
    width: 100%;
  }
  
  .login-form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin-right:3px;
  }
  
  .login-form-container button {
    padding: 10px 20px;
    background-color: #ffcccc; /* Light pastel pink */
    color: #f51111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form-container button:disabled {
    background-color: #ffe6e6; /* Light pastel pink */
    cursor:not-allowed;
  }
  
  .login-form-container button:disabled:hover {
    background-color: #ffe6e6; /* Light pastel pink */
  }
  
  .login-form-container button:hover {
    background-color: #ffaaaa; /* Lighter pastel pink */
  }

  .login-form-container.authenticate button{
    align-content: center;
  }

  .verification-code-input {
    display: flex;
    justify-content: space-between;
  }
  
  .verification-code-input input {
    font-size: 12px;
    text-align: center;
  }