<button type="button" (click)="editProfile()">Edit profile</button>
<h3>Hello,</h3>
<h3>You have {{swipes}} swipes remaining! </h3>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_xclick">
  <input type="hidden" name="business" value="bingqianyou@gmail.com">
  <input type="hidden" name="lc" value="US">
  <input type="hidden" name="item_name" value="Swipes">
  <input type="hidden" name="amount" value="1.00">
  <input type="hidden" name="currency_code" value="USD">
  <input type="hidden" name="button_subtype" value="services">
  <input type="hidden" name="no_note" value="0">
  <input type="hidden" name="tax_rate" value="0.000">
  <input type="hidden" name="shipping" value="0.00">
  <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<h3>Buy more swipes at $1 / 10 swipes</h3>

<button type="button" (click)="startSwiping()">Find your date today!</button>

<h3>Matches</h3>

<table>
  <tr *ngFor="let user of textMatches">
    <td>
      <a href="/text/{{user.id}}">{{user.displayName}}</a>
    </td>
  </tr>
</table>
