<h2>Complete your profile to start!</h2>

<div>
    <form [formGroup]="form" (ngSubmit)="submitInfo()">
        <table>
            <tr>
                <td>
                    Display name:
                </td>
                <td>
                    <input type="text" maxlength="25" formControlName="displayName">
                </td>
                <td>
                  <div *ngIf="form.get('displayName')?.dirty && form.get('displayName')?.invalid">
                    Display name is required (2-25 characters)
                  </div>
                </td>
            </tr>
            <tr>
                <td>
                    Date of Birth:
                </td>
                <td>
                    <input type="date" formControlName="dateOfBirth" [max]="minDate.toISOString().slice(0,10)" (keydown)="onKeyDown($event)"> 
                </td>
            </tr>
            <tr>
                  <td>
                        Gender:
                  </td>
                  <td>
                        <select formControlName="gender">
                              <option value="male">Male</option>
                              <option value="female">Female</option>
                        </select>
                  </td>
            </tr>
            <tr>
                  <td>
                        I'm looking for:
                  </td>
                  <select formControlName="preference">
                        <option value="male">Men</option>
                        <option value="female">Women</option>
                  </select>
            </tr>
            <tr>
                  <td>
                        Profile pic:
                  </td>
                  <td>
                        <input formControlName="file" type="file" (change)="onFileSelected($event)"><br>
                  </td>
            </tr>            
        </table>
        <div>
            <img [src]="imageUrl" style="max-height:300px;
            max-width:300px;
            height:auto;
            width:auto;"/>
      </div>
      <button type="submit" [disabled]="form.invalid">Submit</button>
    </form>
</div>