.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffe6e6;
}

.loading div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading mat-spinner {
  width: 100px;
  height: 100px;
  margin-bottom: 10px; 
}

.loading p {
  text-align: center;
  color: #b91b1b;
  font-size: 25px;
  margin: 5px;
  line-height: 1.5;
}

.example-spacer {
  flex: 1 1 auto;
} 

  
.login-form-container {
    background-color: #ffe6e6;
    max-width: 400px;
    height: 100vh;
    margin: 0 auto;
    padding: 0px;
    background-color: #ffe6e6; 
    border: 1px solid #e72222; 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
    
.login-form-container .submit {
      margin-top: 20px; 
}
    
  
    
    .login-form-container form {
      margin-top: 20px;
      width: 100%;    
    }
    
    .login-form-container select,
    .login-form-container input,
    .login-form-container textarea {
      width: 100%;
      font-size: 16px;
      font-family: Roboto, sans-serif;
      padding:5px;
      box-sizing: border-box; 
      text-align: left; 
    }
    .login-form-container input::placeholder {
      font-size: 14px; 
      color: #999; 
    }
    
    .login-form-container button:disabled {
      color:#f51111;
    }
    
    .custom-select {
      width: 100%;
      padding: 10px;
      margin-bottom: 0px;
      font-size: 16px;
      box-sizing: border-box;
      text-align: left;
    }
    
    .custom-select option {
      font-size: 16px;
    }    
    
    .mat-cell {
      width: 120px; 
      font-weight:500;
      font-size: 16px; 
      height: 50px;
      vertical-align: middle; 
      text-align: right; 
      color: #b91b1b;
    }
    
    .centered-td {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }
    .mat-cell-unchanged {
      font-weight: 400;
      font-size: 16px; 
      height: 50px;
      vertical-align: middle; 
      text-align: left; 
      color: #b91b1b;
    }
    
    
    .image-container {
      position: relative;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      width: 250px;
      height: 300px;
      border: 1px solid #000000;
      border-radius: 5px;
      overflow: hidden;
      background-color: white;
      margin-bottom: 10px;
    }
    
    .image-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    
    .image-wrapper img {
      max-height:300px; 
      max-width:250px; 
      height:auto; 
      width:auto; 
    }

    .button-wrapper {
      text-align: center;
    }
    
